.about-section {
  background: #fdfff6;

  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 0;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 582px;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
  }
}

.about-top-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-transform: lowercase;
  color: #3f4235;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33333;
    max-width: 542px;
    margin-bottom: 8px;
  }
}

.about-title-span {
  text-transform: capitalize;

  @include media(desktop) {
  }
}

.about-span {
  font-weight: 700;

  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #3f4235;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 574px;
    margin: 0;
  }
}
