.faq-section {
  background: #0fc;

  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/faq/faq-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    background-image: url(../img/faq/faq-bg-desk.jpg);
  }
}

.faq-container {
  @include media(desktop) {
    padding: 0 225px;
  }
}

.faq-content-wrapper {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
    text-align: left;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include media(desktop) {
  }
}

.faq-list-item {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    padding: 24px 40px;
  }
}

.faq-top-text-btn {
  width: 100%;
  display: flex;
  align-items: center;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #3f4235;
  text-align: left;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33333;
  }
}

.faq-toggle-symbol {
  background: #000;
  border: 0.52px solid #090909;
  border-radius: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 28px;
  height: 28px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
    min-width: 48px;
    width: 48px;
    height: 48px;
  }
}

.faq-icon {
  fill: #fff;

  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3f4235;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
  }
}

.is-visible {
  max-height: 1000px;
  opacity: 1;
  margin-top: 12px;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  background: #fff;
  transform: rotate(180deg);
}

.faq-list-item.faq-open .faq-bottom-text {
  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-icon {
  fill: #0c1000;

  @include media(desktop) {
  }
}
