.features-section {
  background: #fdfff6;

  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 20px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 16px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
    padding-left: 0;
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0;
  }
}

.features-text-wrapper {
  @include media(desktop) {
    max-width: 715px;
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-subtitle {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #3f4235;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33333;
  }
}

.features-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #3f4235;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
