.footer {
  background: #000a07;
  border-top: 1px solid #0fc;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  border-bottom: 1px solid #303030;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;

  @include media(desktop) {
  }
}

.footer-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include media(desktop) {
    flex-direction: row;
  }
}

.footer-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #b7b7b7;

  @include media(desktop) {
  }
}

.footer-nav {
  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
  }
}

.footer-list-item {
  @include media(desktop) {
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.footer-bottom-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #0fc;
  margin-top: 16px;

  @include media(desktop) {
  }
}
