.gameplay-section {
  background: #000a07;

  @include media(desktop) {
  }
}

.gameplay-section-wrapper {
  padding-top: 64px;
  padding-bottom: 303px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/gameplay/gameplay-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
    background-image: url(../img/gameplay/gameplay-bg-desk.jpg);
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  text-align: left;
  color: #fdfff6;

  @include media(desktop) {
  }
}

.gameplay-subtitle {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #fdfff6;
  margin-bottom: 36px;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33333;
  }
}

.gameplay-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    max-width: 582px;
  }
}

.gameplay-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.55556;
  }
}
