.header {
  background: #0fc;
  border-bottom: 1px solid rgba(12, 16, 0, 0.32);
  padding: 8px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 16px 0;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    width: 100%;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-link {
  @include media(desktop) {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55556;
    text-transform: uppercase;
    color: #0c1000;
    transition:
      color 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      text-shadow 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &.active {
    }
  }
}

.header-contact-link {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0c1000;
    border-radius: 37px;
    padding: 8px 30px;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fdfff6;
    max-width: max-content;
    margin-left: 24px;
  }
}

.nav-btn {
  background: #0c1000;
  border-radius: 37px;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  background: #0c1000;
  border-radius: 37px;
  padding: 8px 12px;
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
