.hero-section {
  background: #0fc;

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 159px;
  padding-bottom: 473px;
  max-width: 375px;
  margin: 0 auto;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 245px;
    padding-bottom: 171px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
    position: relative;
  }
}

.hero-title {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.13333;
  text-transform: uppercase;
  color: #0c1000;
  max-width: 240px;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 120px;
    line-height: 1;
    max-width: 616px;
    margin-bottom: 32px;
  }
}

.hero-top-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-transform: uppercase;
  color: #0c1000;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
    max-width: 407px;
    margin-bottom: 0;
    position: absolute;
    top: 132px;
    left: 481px;
  }
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.hero-text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-transform: uppercase;
  color: #0c1000;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
    max-width: 692px;
  }
}
