.context-menu {
  display: none;
  background: #9dffeb;
  padding: 60px 48px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav {
  width: 100%;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.context-list-item {
  position: relative;
}

.context-list-link {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55556;
  text-transform: uppercase;
  color: #0c1000;
  transition:
    color 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;

  &:active {
  }
}

.context-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0c1000;
  border-radius: 37px;
  padding: 8px 30px;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fdfff6;
  margin-top: 24px;
  max-width: max-content;
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
