<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">ABOUT THE SIMULATION</h2>
          <div class="about-text-container">
            <p class="about-top-text">
              <span class="about-span about-title-span">Iron Dome:</span>
              Defense OS is a tactical defense simulation
              <span class="about-span">that combines strategy</span>, reflexes,
              and <span class="about-span">precision targeting.</span>
            </p>
            <p class="about-text">
              Players operate a military-style command interface responsible for
              intercepting incoming threats before they reach protected cities.
              The system must constantly track hostile projectiles while
              launching interceptors at precisely calculated moments.
            </p>
            <p class="about-text">
              It's all about timing and not wasting your shots. You can't just
              spam interceptors because you've got limited ammo, your systems
              need time to reload, and your radar can only track so much at
              once. Success depends on maintaining control under pressure while
              coordinating the defense grid.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/about/about-bg-desk.png"
            media="(min-width: 1440px)"
            width="574"
            height="724"
          />
          <source
            srcset="./img/about/about-bg-mob.png"
            width="335"
            height="422"
          />
          <img
            class="about-img"
            src="./img/about/about-bg-mob.png"
            alt="Screenshot of the game"
            width="335"
            height="422"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
