<section class="contact-section section" id="contact">
  <div class="contact-section-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">CONTACT</h2>
      <p class="contact-subtitle">For technical support or system feedback:</p>
      <a href="mailto:info@ironledge.online" class="contact-email-link"
        >info@ironledge.online</a
      >
      <p class="contact-text">
        Hit us up if you run into bugs or have ideas to make the game better.
      </p>
    </div>
  </div>
</section>
